*{
    padding: 0%;
    margin: 0%;
}

.uno{
    position: absolute;
    z-index: 10;
}

.dos{
    position: absolute;
    z-index: 9;
}

.tres{
    position: absolute;
    z-index: 8;
}

.cuatro{
    position: absolute;
    z-index: 7;
}

.cinco{
    position: absolute;
    z-index: 6;
}

.seis{
    position: absolute;
    z-index: 5;
}
